{% extends "blog/base.html" %}

{% block content %}
  {% for post in object_list %}
    <br/>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card bg-dark text-white">
        {% if post.image %}
          <img src="{{ post.image.url }}" class="card-img-top">
        {% endif %}
        <div class="card-body">

          <div class="card-title">
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            <small class="text-muted">{{ post.publish_date }}</small>
          </div>

          <div class="card-text text-light">
            <p>{{ post.content|linebreaks|truncatewords:60 }}</p>
          </div>

        </div>
      </div>
    </div>
  {% endfor %}
  <br/>
{% endblock %}
